<div class="col-md-5">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="make" placeholder="Make" />
        <input class="form-control" type="text" ng-model="model" placeholder="Model" />
        <input class="form-control" type="text" ng-model="year" placeholder="Year" />
        <input class="form-control" type="text" ng-model="image" placeholder="Image" />
        <input class="form-control" type="text" ng-model="problem" placeholder="Enter Problem" />
        <button class="form-control btn btn-primary" ng-click="addCar()">Submit</button>
    </div>
</div>